# =========================
# Python
# =========================
.venv/
venv/
env/
ENV/
.python_packages/
__pycache__/
*.pyc
*.pyo
*$py.class

# =========================
# Node / React
# =========================
node_modules/
build/
dist/

# =========================
# Azure
# =========================
.azure/
local.settings.json

# =========================
# VS Code
# =========================
.vscode/
.vs/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets / Env
# =========================
.env
secrets/
.secrets/
appsettings.json

# =========================
# Misc
# =========================
bin/
obj/
packages/
TestResults/
Publish/